/*This is header + navbar styling for Mobile*/

.navbar {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100px;
}

.navbar-brand {
    margin-top: 0px;
}

/*This is header + navbar styling for DT*/
@media screen and (min-width: 992px){
    .navbar {
        height: 80px;
        padding-top: 35px;
    }

}

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.active {
    font-weight: 700;
}

#reserveer {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 800;
    background-color: #FE491B;
    border-radius: 2rem;
    padding: 10px;
    margin-left: 15px;
}

/* Hover state does not work yet */
/*************************END OF NAVBAR STYLING***************************/

/* Header image */

#bg {
    position: relative;
    text-align: center;
    color: white;
    }

.text-header {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 50%;
    background-color: #4ABCAD;
    padding: 1em;
    border-radius: 3rem;
}

.text-header h3 {
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Pacifico", cursive;
    font-size: 22px;
    line-height: 1.5em;
}

.text-header p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

/*************************END OF HEADER STYLING***************************/

/*This is mainpage styling for DT*/

body {
    background-color: #E0DCE4;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #2f2f2f;
    line-height: 28px;
}

h2 {
    font-family: "Pacifico", cursive;
    font-size: 36px;
    color:#FE491B;
    margin-bottom: 3%;
}

h4 {
    font-family: "Pacifico", cursive;
    font-size: 28px;
    color:#2f2f2f;
    margin-bottom: 3%;
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform:uppercase;
    color: #2f2f2f;
    line-height: 22px;
}

hr {
    border-top: 2px dotted white;
}

.imgnancy{
    transform: rotate(5deg);
}

/*This is card styling for DT*/

.card {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #2f2f2f;
}

.card-header {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #2f2f2f;
    text-transform: uppercase;
    background-color:#F8B732;
    border-bottom: none;
}
.card-title {
    font-family: "Pacifico", cursive;
    text-transform:none;
    font-weight: 400;
    font-size: 28px;
    color: #2f2f2f;
    margin-bottom: 3%;
}

.card p {
    line-height: 22px;
}

/*Button styling*/

.btn {
    border-radius: 2rem;
    border:none;
    background-color:#4ABCAD;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    
}

/*Carousel styling*/
.border {
    border:5px solid white !important;
}

/*C2A styling*/
.c2a {
    background-color: #FE491B !important;
}

.c2a h2 {
    color:white;
}

.c2a p {
    color:white;
}

/*I want to turn this carousel -5 degrees - to be continued */ 

/*This is footer styling for DT*/

footer {
    background-color:#4ABCAD;
    padding: 30px 0 1px 0;
}

.text-footer {
    margin-bottom: 25px !important;
}

footer h4{
    font-family: "Pacifico", cursive;
    font-size: 24px;
    color:white;
    margin-bottom: 6%;
}
.social {
    margin: 0 5% 0 5%;
    padding: 20px !important;
    text-align:center;
}

.social h4 {
    color: #FE491B;
}

.social img {
    width: 32px;
}

.social img:hover {
    width: 32px;
    filter: opacity(80%)
}

footer ul {
    list-style:none;
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

footer ul a {
    color:inherit;
    text-decoration:none;
}

footer ul a:hover {
    color:white;
    text-decoration:none;
}

.hours ul {
    list-style:none;
}

@media screen and (max-width: 992px) {
.data ul {
    padding-bottom: 5%;
}
}

@media screen and (max-width: 767px) {
    .mobile-space {
        margin-top: 20px;
    }

    .mobile-space-double {
        margin-top: 40px;
    }

    footer {
        text-align:center;
    }

    footer h4{
        margin-bottom: 2%;
    }

    .hours .row {
        justify-content: center;
    }
}
/*************************END OF FOOTER STYLING***************************/


/*HOTEL PAGE*/
/*This is hotel carousel styling*/

#bghotel {
    position: relative;
    text-align: center;
    color: white;
    }

.text-header-hotel h2{
    position: absolute;
    bottom: 1%;
    right:30%;
    left:30%;
    padding: 0.5em;
    border-radius: 3rem;
    font-family: "Pacifico",cursive;
    color:white;
    filter: drop-shadow(0px 0px 4px black)
}

/*This is Hotel page highlight styling*/

.thickline {
    width: 10%;
    border-top: 3px solid #F8B732;
    margin-bottom:10px;
}

.highlights p {
    line-height: 22px; 

}

.highlights img {
    height: 64px;
    margin-bottom: 15px;
}

.small-icon {
    height: 45px !important;
}

/*************************END OF HOTEL PAGE STYLING***************************/
/*Contact page styling*/

.maps {
    background-color:#4ABCAD;
}

.gegevens ul {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #2f2f2f;
    list-style:none;
    padding:0;
}